:root {
    /* Cores de destaque */
    --azul-cta: #0073FF;
    --verde-agua: #00A688;
    --bg-principal: #1E1E1E;
    --bg-secundario: #2A2A2A;
    --texto-principal: #EDEDED;
    --texto-secundario: #9CA3AF;
    --detalhes-bordas: #3A3A3A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Baloo 2";
}

h1,
h2,
h3 {
    font-family: "Sora", sans-serif;
    font-weight: bold;
}

h1{
    font-size: 32px;
}

.pagina-atual{
    font-weight: bold
}

/* HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background: var(--bg-principal);
    padding: 20px 0;
    box-shadow: 0px 1px 8px rgba(27, 27, 27, 0.445);
}

#logotipo {
    width: 140px;
    border-radius: 20px;
}

header ul {
    color: #FFF;
    list-style: none;
    margin: 0;
    font-family: "Sora", sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.cta-header{
    border: none;
    background-color: var(--azul-cta);
    width: 38px;
    height: 38px;
    border-radius: 12px;
}

.cta-header:hover{
    cursor: pointer;
}

