:root {
    /* Cores de destaque */
    --azul-cta: #0073FF;
    --verde-agua: #00A688;
    --bg-principal: #1E1E1E;
    --bg-secundario: #2A2A2A;
    --texto-principal: #EDEDED;
    --texto-secundario: #9CA3AF;
    --detalhes-bordas: #3A3A3A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Baloo 2";

}

h1,
h2,
h3 {
    font-family: "Sora", sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 32px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #FFF;
}

.pagina-atual {
    font-weight: bold;

    color: white
}

/* HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background: rgba(30, 30, 30, 0.719);
    padding: 20px 0;
    box-shadow: 0px 1px 8px rgba(27, 27, 27, 0.445);
    backdrop-filter: blur(4px)
}

#menu-hamburger {
    display: none;
    background: none;
    border: none;
}



#menu-mobile-aberto {
    position: relative;
    background: rgba(30, 30, 30, 0.7);
    backdrop-filter: blur(15px);
    color: #FFF;
    position: fixed;
    z-index: 99999;
    inset: 0;
    padding: 2rem;
    display: none;
    justify-content: center;
    align-items: center;
}

#menu-mobile-aberto.ativo {
    display: flex;
    transition: 0.3s ease;
}

#menu-mobile__fechar {
    background: none;
    border: none;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

#menu-mobile-aberto li {
    font-size: 2rem;
}

#logotipo {
    width: 140px;
    border-radius: 20px;
}

header nav {
    height: fit-content;

}

header nav ul {
    color: #FFF;
    margin: 0;
    font-family: "Sora", sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding: 0;
}

.cta-header {
    border: none;
    background-color: var(--azul-cta);
    width: 38px;
    height: 38px;
    border-radius: 12px;
    transition: 0.13s ease-in
}

.cta-header:hover {
    cursor: pointer;
    background-color: #3f95ff
}

@media screen and (max-width: 768px) {
    .nav-desktop {
        display: none;
    }

    #menu-hamburger {
        display: flex;
    }
}